.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.item img {
  margin-left: auto;
  margin-right: auto;
}

.navbar, .panel {
  border-radius: 0 !important;
}

AppFooter {
  position:absolute !important;
  bottom:0 !important;
}
